// $bg-color-primary: #002D1B;
// $bg-color-primary: #012215;
$bg-color-primary: #0c5035;
// $bg-color-primary: #050505;
// $bg-color-primary: #23363a;
$text-color-primary: #eff7f8;
// $fg-color-primary: #577D86;
$fg-color-primary: #687a72;
// $accent-color-primary: #fff157;
$accent-color-primary: #f0d354;
$accent-color-primary-hover: #f0e13f;
$accent-color-primary-active: #d5c72d;
