// $bg-color-primary: #002D1B;
// $bg-color-primary: #012215;
$bg-color-primary: #0c5035;
// $bg-color-primary: #050505;
// $bg-color-primary: #23363a;
$text-color-primary: #eff7f8;
$text-color-secondary: #cbd3d4;
$text-color-inverse: #141414;
// $fg-color-primary: #577D86;
$fg-color-primary: #607a6f;
// $accent-color-primary: #fff157;
$accent-color-primary: #f0d354;
$accent-color-primary-hover: #f0e13f;
$accent-color-primary-active: #d5c72d;

$input-disabled-background-color: #727272;
$input-disabled-border-color: #9e9e9e;
$input-disabled-text-color: #c4c4c4;

$success-color-primary: #365c33;
$success-color-accent: #30b424;

$error-color-primary: #572a2a;
$error-color-accent: #e21a1a;
