@import "./colors.scss";
@import "./utils.scss";
@import "./vars.scss";

#success-message, #error-message {
	display: none;
	border: 4px solid transparent;
	border-radius: $border-radius-default;
	padding: pixels-to-rem(10) pixels-to-rem(15);
	font-size: pixels-to-rem(18);
}

#success-message {
	border-color: $success-color-accent;
}

#error-message {
	background-color: $error-color-primary;
	border-color: $error-color-accent;
}
