@font-face {
	font-family: "Caviar Dreams";
	font-weight: normal;
	src: url("/fonts/CaviarDreams.ttf") format("truetype");
}
@font-face {
	font-family: "Caviar Dreams";
	font-weight: bold;
	src: url("/fonts/CaviarDreams_Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Lora";
	src: url("/fonts/Lora-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Lora";
	font-weight: bold;
	src: url("/fonts/Lora-Bold.ttf") format("truetype");
}

$font-serif: "Lora", "Cambria", "Cochin", "Georgia", "Times", "Times New Roman", serif;
$font-sans: "Caviar Dreams", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
