@font-face {
	font-family: "Caviar Dreams";
	font-weight: normal;
	src: url("/fonts/CaviarDreams.ttf") format("truetype");
}
@font-face {
	font-family: "Caviar Dreams";
	font-weight: bold;
	src: url("/fonts/CaviarDreams_Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Literata Book";
	src: url("/fonts/LiterataBook.otf") format("opentype");
}
@font-face {
	font-family: "Literata Book";
	font-weight: bold;
	src: url("/fonts/LiterataBook-Bold.otf") format("opentype");
}

$font-serif: "Literata Book", "Cambria", "Cochin", "Georgia", "Times", "Times New Roman", serif;
$font-sans: "Caviar Dreams", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
