{% if not current_path %}
	{% set current_path = "" %}
{% endif %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% if page.title %}{{ page.title }} - {% endif %}The Minimal Mixologist{% endblock %}</title>
		<link rel="stylesheet" href="/base.css" />
		<link rel="icon" href="/favicon.svg" />
		<script src="/instant-page-5.2.0.js" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z" defer></script>
		<script>
			// Assume that HTTPS means we're in prod and not in local dev.
			if (window.location.protocol === "https:") {
				(function(window, document, dataLayerName, id) {
					window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
					function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString();f="; SameSite=Strict"}document.cookie=a+"="+b+d+f+"; path=/"}
					var isStgDebug=(window.location.href.match("stg_debug")||document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?14:-1);
					var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName),isStgDebug&&qP.push("stg_debug");var qPString=qP.length>0?("?"+qP.join("&")):"";
					tags.async=!0,tags.src="https://theminimalmixologist.containers.piwik.pro/"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
					!function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
				})(window, document, 'dataLayer', 'd149ed6b-b995-4d8b-ab0e-4b76bdeb068f');
			}
		</script>

		{% block head %}{% endblock %}
	</head>

	<body>
		<nav>
			<div class="page-width">
				<h1>
					<a href="/">
						<img src="/logo.svg" width="42" />
						<span>The Minimal Mixologist</span>
					</a>
				</h1>

				<ul>
					<li>
						<a href="/about" {% if current_path == "/about/" %}class="active"{% endif %}>
							About
						</a>
					</li>
					<!-- <li>
						<a href="/drinks">Our Drinks</a>
					</li> -->
					<li>
						<a href="/pricing" {% if current_path == "/pricing/" %}class="active"{% endif %}>
							Pricing
						</a>
					</li>
					<li>
						<a href="/contact" {% if current_path == "/contact/" %}class="active"{% endif %}>
							Contact
						</a>
					</li>
					<!-- <li>
						<a href="/blog">Blog</a>
					</li> -->
				</ul>
			</div>
		</nav>

		<main>
			<div class="page-width">{% block content %}{% endblock %}</div>
		</main>

		<footer>
			Copyright The Minimal Mixologist, LLC
		</footer>
	</body>
</html>
