{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="/contact.css">
{% endblock %}

{% block content %}
	<div class="markdown-content">
		{{ page.content | safe }}
	</div>

	<form id="contact-form">
		<input type="hidden" name="access_key" value="73c7f79d-d607-435b-8227-683fd1afe2ba">

		<div class="field">
			<label for="contact-form-name">Your name</label>
			<input name="name" type="text" required id="contact-form-name"></input>
		</div>

		<div class="field">
			<label for="contact-form-email">Your email address</label>
			<input name="email" type="email" required id="contact-form-email"></input>
		</div>

		<div class="field">
			<label for="contact-form-guests">How many guests will be attending? <small>(optional)</small></label>
			<input name="guests" type="text" id="contact-form-guests"></input>
		</div>

		<div class="field">
			<label for="contact-form-date">When is your event? <small>(optional)</small></label>
			<input name="date" type="date" id="contact-form-date"></input>
		</div>

		<div class="field">
			<label for="contact-form-body">Tell us about your event!</label>
			<textarea name="body" id="contact-form-body" required></textarea>
		</div>

		<button type="submit">Send</button>
	</form>

	<div id="success-message">
		Thanks! We will reach out shortly!
	</div>

	<div id="error-message">
		We're so sorry, but something went wrong with this form. Feel free to refresh the page and try again. If it still doesn't work, contact us at <a href="mailto:hello@theminimalmixologist.com">hello@theminimalmixologist.com</a> instead. We apologize for the inconvenience.
	</div>

	<script>
		// In case the Piwik analytics code isn't loaded.
		window.dataLayer = window.dataLayer || []

		/** @type HTMLFormElement */
		const form = document.getElementById("contact-form")
		form.addEventListener("submit", async (event) => {
			window.dataLayer.push({
				event: 'contactFormSubmitted',
			})

			event.preventDefault()
			const button = form.getElementsByTagName("button")[0]
			button.disabled = true
			button.innerText = "Sending..."
			const formData = new FormData(form)
			const json = JSON.stringify(Object.fromEntries(formData))
			try {
				await fetch('https://submit-form.com/qqq1qVXUG', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'Accept': 'application/json',
					},
					body: json,
				})
			} catch (error) {
				const errorContainer = document.getElementById("error-message")
				errorContainer.style.display = "block"
				return
			} finally {
				form.style.display = "none"
				form.elements.email.value = ""
				form.elements.body.value = ""
			}
			const successContainer = document.getElementById("success-message")
			successContainer.style.display = "block"
		})

		// Track if a valid email is entered.
		let hasEnteredValidEmail = false
		form.elements.email.addEventListener("keydown", (event) => {
			if (!hasEnteredValidEmail && event.target.validity.valid) {
				hasEnteredValidEmail = true
				window.dataLayer.push({
					event: 'contactFormValidEmailEntered',
				})
			}
		})
	</script>
{% endblock content %}
