{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="/index.css">
{% endblock %}

{% block content %}
	<div class="marketing">
		<h1>
			Bespoke <em>craft cocktails</em><br />
			&amp; <em>beverage menus</em><br />
			for your events
		</h1>

		<div class="spacer-l"></div>

		<h2>
			We are a beverage service based out of beautiful Portland, Oregon specializing in stunning, one of a kind cocktails for personal and corporate events, with a focus on <a href="/about">simplicity and sustainability</a>.
		</h2>

		<div class="spacer-m"></div>

		<!-- <a href="/contact"> -->
		<a href="/contact">
			<button>Book us for your next event</button>
		</a>
	</div>
{% endblock content %}
